<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" opened>
    <img src="../../../assets/img/pngegg.png" alt="">
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="me">
        <i class="material-icons">home</i>
        <a>Me</a>
      </a>
      <a mat-list-item routerLink="users">
        <i class="material-icons">person</i>
        <a>Users</a>
      </a>
      <a mat-list-item routerLink="cars">
        <i class="material-icons">directions_car_filled</i>
        <a>Cars</a>
      </a>
      <a mat-list-item (click)="logout()">
        <i class="material-icons">logout</i>
        <a>Logout</a>
      </a>
    </mat-nav-list>
  </mat-drawer>

  <div class="sidenav-content">
    <app-header></app-header>
    <button class="menu mat-elevation-z8" (click)="drawer.toggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
